In [1]:
import json
import requests as req
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import json

from census import Census
from us import states

# Save config information
api_key = "7824425f0ce43628c75b09e5bfc7c575e283699e"
url = "https://api.census.gov/data/"

In [7]:
# Pull data on businesses and number of establishments

years = ['2010', '2011', '2012', '2013', '2014', '2015']

# Query gets us Number of employees, establishments, size of establishments, year of data collected, annual pay, name of state, for each state
query = "EMP,EMPSZES,EMPSZES_TTL,ESTAB,YEAR,PAYANN,GEO_TTL&for=state:*"

cbp_df = pd.DataFrame()

for year in years: 
    # Build query URL
    query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

    # This should get us all establishments of employment in each state for the 2015 year.
    cbp_response = req.get(query_url)
    cbp_json = cbp_response.json()
    this_year_cbp = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
    
    cbp_df = cbp_df.append(this_year_cbp)

cbp_df

,EMP,EMPSZES,EMPSZES_TTL,ESTAB,YEAR,PAYANN,GEO_TTL,State
0,EMP,EMPSZES,EMPSZES_TTL,ESTAB,YEAR,PAYANN,GEO_TTL,state
1,1568111,001,All establishments,99251,2010,57448016,Alabama,01
2,96042,212,Establishments with 1 to 4 employees,50113,2010,3262347,Alabama,01
3,138569,220,Establishments with 5 to 9 employees,20953,2010,4197349,Alabama,01
4,188244,230,Establishments with 10 to 19 employees,14005,2010,5912838,Alabama,01
5,270606,241,Establishments with 20 to 49 employees,9021,2010,8808648,Alabama,01
6,194778,242,Establishments with 50 to 99 employees,2824,2010,6836604,Alabama,01
7,245705,251,Establishments with 100 to 249 employees,1641,2010,9228422,Alabama,01
8,155187,252,Establishments with 250 to 499 employees,437,2010,6301364,Alabama,01
9,115231,254,Establishments with 500 to 999 employees,167,2010,5028174,Alabama,01
10,163749,260,"Establishments with 1,000 employees or more",90,2010,7872270,Alabama,01
11,254734,001,All establishments,19985,2010,12821494,Alaska,02
12,18484,212,Establishments with 1 to 4 employees,11476,2010,969079,Alaska,02
13,25128,220,Establishments with 5 to 9 employees,3804,2010,1085478,Alaska,02
14,33122,230,Establishments with 10 to 19 employees,2464,2010,1486397,Alaska,02
15,42189,241,Establishments with 20 to 49 employees,1429,2010,1994382,Alaska,02
16,30328,242,Establishments with 50 to 99 employees,447,2010,1430507,Alaska,02
17,39075,251,Establishments with 100 to 249 employees,255,2010,1786602,Alaska,02
18,22503,252,Establishments with 250 to 499 employees,63,2010,1296231,Alaska,02
19,18840,254,Establishments with 500 to 999 employees,30,2010,1170284,Alaska,02
20,25065,260,"Establishments with 1,000 employees or more",17,2010,1602534,Alaska,02
21,2065224,001,All establishments,131849,2010,84030312,Arizona,04
22,118633,212,Establishments with 1 to 4 employees,72283,2010,4979763,Arizona,04
23,160756,220,Establishments with 5 to 9 employees,24204,2010,5285765,Arizona,04
24,232202,230,Establishments with 10 to 19 employees,17162,2010,7501874,Arizona,04
25,340145,241,Establishments with 20 to 49 employees,11358,2010,11555551,Arizona,04
26,256281,242,Establishments with 50 to 99 employees,3748,2010,9024841,Arizona,04
27,323311,251,Establishments with 100 to 249 employees,2161,2010,12879165,Arizona,04
28,201217,252,Establishments with 250 to 499 employees,590,2010,8172702,Arizona,04
29,146517,254,Establishments with 500 to 999 employees,216,2010,6576234,Arizona,04
...,...,...,...,...,...,...,...,...
531,16276,001,All establishments,1724,2015,301267,Commonwealth of the Northern Mariana Islands,69
532,2006,212,Establishments with 1 to 4 employees,1081,2015,31566,Commonwealth of the Northern Mariana Islands,69
533,1937,220,Establishments with 5 to 9 employees,294,2015,29790,Commonwealth of the Northern Mariana Islands,69
534,2627,230,Establishments with 10 to 19 employees,200,2015,54356,Commonwealth of the Northern Mariana Islands,69
535,3069,241,Establishments with 20 to 49 employees,106,2015,55631,Commonwealth of the Northern Mariana Islands,69
536,1393,242,Establishments with 50 to 99 employees,21,2015,22987,Commonwealth of the Northern Mariana Islands,69
537,2300,251,Establishments with 100 to 249 employees,15,2015,41097,Commonwealth of the Northern Mariana Islands,69
538,1679,252,Establishments with 250 to 499 employees,5,2015,32341,Commonwealth of the Northern Mariana Islands,69
539,0,254,Establishments with 500 to 999 employees,2,2015,0,Commonwealth of the Northern Mariana Islands,69
540,0,260,"Establishments with 1,000 employees or more",0,2015,0,Commonwealth of the Northern Mariana Islands,69
541,677974,001,All establishments,43620,2015,17315903,Puerto Rico,72
542,44701,212,Establishments with 1 to 4 employees,24145,2015,1087433,Puerto Rico,72
543,54511,220,Establishments with 5 to 9 employees,8321,2015,1135014,Puerto Rico,72
544,71207,230,Establishments with 10 to 19 employees,5320,2015,1507465,Puerto Rico,72
545,110043,241,Establishments with 20 to 49 employees,3655,2015,2422217,Puerto Rico,72
546,77583,242,Establishments with 50 to 99 employees,1119,2015,1978677,Puerto Rico,72
547,104229,251,Establishments with 100 to 249 employees,685,2015,2669638,Puerto Rico,72
548,81917,252,Establishments with 250 to 499 employees,233,2015,2449925,Puerto Rico,72
549,67158,254,Establishments with 500 to 999 employees,101,2015,2094201,Puerto Rico,72
550,66625,260,"Establishments with 1,000 employees or more",41,2015,1971333,Puerto Rico,72
551,29118,001,All establishments,2572,2015,969738,United States Virgin Islands,78
552,2618,212,Establishments with 1 to 4 employees,1368,2015,91218,United States Virgin Islands,78
553,3524,220,Establishments with 5 to 9 employees,537,2015,122666,United States Virgin Islands,78
554,4628,230,Establishments with 10 to 19 employees,350,2015,138577,United States Virgin Islands,78
555,7008,241,Establishments with 20 to 49 employees,236,2015,208767,United States Virgin Islands,78
556,3012,242,Establishments with 50 to 99 employees,44,2015,99977,United States Virgin Islands,78
557,4056,251,Establishments with 100 to 249 employees,27,2015,125771,United States Virgin Islands,78
558,2439,252,Establishments with 250 to 499 employees,7,2015,92996,United States Virgin Islands,78
559,1833,254,Establishments with 500 to 999 employees,3,2015,89766,United States Virgin Islands,78
560,0,260,"Establishments with 1,000 employees or more",0,2015,0,United States Virgin Islands,78

In [8]:
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_df

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,99251,1568111,All establishments,57448016,2010
1,Alabama,01,50113,96042,Establishments with 1 to 4 employees,3262347,2010
2,Alabama,01,20953,138569,Establishments with 5 to 9 employees,4197349,2010
3,Alabama,01,14005,188244,Establishments with 10 to 19 employees,5912838,2010
4,Alabama,01,9021,270606,Establishments with 20 to 49 employees,8808648,2010
5,Alabama,01,2824,194778,Establishments with 50 to 99 employees,6836604,2010
6,Alabama,01,1641,245705,Establishments with 100 to 249 employees,9228422,2010
7,Alabama,01,437,155187,Establishments with 250 to 499 employees,6301364,2010
8,Alabama,01,167,115231,Establishments with 500 to 999 employees,5028174,2010
9,Alabama,01,90,163749,"Establishments with 1,000 employees or more",7872270,2010
10,Alaska,02,19985,254734,All establishments,12821494,2010
11,Alaska,02,11476,18484,Establishments with 1 to 4 employees,969079,2010
12,Alaska,02,3804,25128,Establishments with 5 to 9 employees,1085478,2010
13,Alaska,02,2464,33122,Establishments with 10 to 19 employees,1486397,2010
14,Alaska,02,1429,42189,Establishments with 20 to 49 employees,1994382,2010
15,Alaska,02,447,30328,Establishments with 50 to 99 employees,1430507,2010
16,Alaska,02,255,39075,Establishments with 100 to 249 employees,1786602,2010
17,Alaska,02,63,22503,Establishments with 250 to 499 employees,1296231,2010
18,Alaska,02,30,18840,Establishments with 500 to 999 employees,1170284,2010
19,Alaska,02,17,25065,"Establishments with 1,000 employees or more",1602534,2010
20,Arizona,04,131849,2065224,All establishments,84030312,2010
21,Arizona,04,72283,118633,Establishments with 1 to 4 employees,4979763,2010
22,Arizona,04,24204,160756,Establishments with 5 to 9 employees,5285765,2010
23,Arizona,04,17162,232202,Establishments with 10 to 19 employees,7501874,2010
24,Arizona,04,11358,340145,Establishments with 20 to 49 employees,11555551,2010
25,Arizona,04,3748,256281,Establishments with 50 to 99 employees,9024841,2010
26,Arizona,04,2161,323311,Establishments with 100 to 249 employees,12879165,2010
27,Arizona,04,590,201217,Establishments with 250 to 499 employees,8172702,2010
28,Arizona,04,216,146517,Establishments with 500 to 999 employees,6576234,2010
29,Arizona,04,127,286162,"Establishments with 1,000 employees or more",18054417,2010
...,...,...,...,...,...,...,...
3330,Commonwealth of the Northern Mariana Islands,69,1724,16276,All establishments,301267,2015
3331,Commonwealth of the Northern Mariana Islands,69,1081,2006,Establishments with 1 to 4 employees,31566,2015
3332,Commonwealth of the Northern Mariana Islands,69,294,1937,Establishments with 5 to 9 employees,29790,2015
3333,Commonwealth of the Northern Mariana Islands,69,200,2627,Establishments with 10 to 19 employees,54356,2015
3334,Commonwealth of the Northern Mariana Islands,69,106,3069,Establishments with 20 to 49 employees,55631,2015
3335,Commonwealth of the Northern Mariana Islands,69,21,1393,Establishments with 50 to 99 employees,22987,2015
3336,Commonwealth of the Northern Mariana Islands,69,15,2300,Establishments with 100 to 249 employees,41097,2015
3337,Commonwealth of the Northern Mariana Islands,69,5,1679,Establishments with 250 to 499 employees,32341,2015
3338,Commonwealth of the Northern Mariana Islands,69,2,0,Establishments with 500 to 999 employees,0,2015
3339,Commonwealth of the Northern Mariana Islands,69,0,0,"Establishments with 1,000 employees or more",0,2015
3340,Puerto Rico,72,43620,677974,All establishments,17315903,2015
3341,Puerto Rico,72,24145,44701,Establishments with 1 to 4 employees,1087433,2015
3342,Puerto Rico,72,8321,54511,Establishments with 5 to 9 employees,1135014,2015
3343,Puerto Rico,72,5320,71207,Establishments with 10 to 19 employees,1507465,2015
3344,Puerto Rico,72,3655,110043,Establishments with 20 to 49 employees,2422217,2015
3345,Puerto Rico,72,1119,77583,Establishments with 50 to 99 employees,1978677,2015
3346,Puerto Rico,72,685,104229,Establishments with 100 to 249 employees,2669638,2015
3347,Puerto Rico,72,233,81917,Establishments with 250 to 499 employees,2449925,2015
3348,Puerto Rico,72,101,67158,Establishments with 500 to 999 employees,2094201,2015
3349,Puerto Rico,72,41,66625,"Establishments with 1,000 employees or more",1971333,2015
3350,United States Virgin Islands,78,2572,29118,All establishments,969738,2015
3351,United States Virgin Islands,78,1368,2618,Establishments with 1 to 4 employees,91218,2015
3352,United States Virgin Islands,78,537,3524,Establishments with 5 to 9 employees,122666,2015
3353,United States Virgin Islands,78,350,4628,Establishments with 10 to 19 employees,138577,2015
3354,United States Virgin Islands,78,236,7008,Establishments with 20 to 49 employees,208767,2015
3355,United States Virgin Islands,78,44,3012,Establishments with 50 to 99 employees,99977,2015
3356,United States Virgin Islands,78,27,4056,Establishments with 100 to 249 employees,125771,2015
3357,United States Virgin Islands,78,7,2439,Establishments with 250 to 499 employees,92996,2015
3358,United States Virgin Islands,78,3,1833,Establishments with 500 to 999 employees,89766,2015
3359,United States Virgin Islands,78,0,0,"Establishments with 1,000 employees or more",0,2015

In [7]:
#Let's look at just DC for the past 5 years
DC_cbp_df = cbp_df.loc[cbp_df["GEO_TTL"] == "District of Columbia",:]
DC_cbp_df

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
80,District of Columbia,11,22553,513002,All establishments,38445917,2015
81,District of Columbia,11,11203,19639,Establishments with 1 to 4 employees,1766767,2015
82,District of Columbia,11,4077,27176,Establishments with 5 to 9 employees,1915331,2015
83,District of Columbia,11,3069,41833,Establishments with 10 to 19 employees,3019355,2015
84,District of Columbia,11,2367,72323,Establishments with 20 to 49 employees,4945404,2015
85,District of Columbia,11,965,66031,Establishments with 50 to 99 employees,4756409,2015
86,District of Columbia,11,594,89700,Establishments with 100 to 249 employees,6757473,2015
87,District of Columbia,11,182,62790,Establishments with 250 to 499 employees,5082807,2015
88,District of Columbia,11,65,43132,Establishments with 500 to 999 employees,4065601,2015
89,District of Columbia,11,31,90378,"Establishments with 1,000 employees or more",6136770,2015

# Income and Poverty per State

In [10]:


# Save config information
api_key = Census("7824425f0ce43628c75b09e5bfc7c575e283699e", year=2015)


census_data = api_key.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", 
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * census_pd["Unemployment Count"].astype(int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,02,Alaska,733375.0,33.4,72515.0,33413.0,72957.0,9.948117,4.265894
1,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,4.287172
2,05,Arkansas,2958208.0,37.7,41371.0,22798.0,553644.0,18.715520,3.547519
3,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,4.151084
4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,4.921939