In [114]:
import json
import requests as req
import numpy as np
import pandas as pd

# Save config information
api_key = "7824425f0ce43628c75b09e5bfc7c575e283699e"
url = "https://api.census.gov/data/"
year = "2015"
# Query gets us Number of employees, establishments, size of establishments, year of data collected, annual pay, name of state, for each state
query = "EMP,EMPSZES,EMPSZES_TTL,ESTAB,YEAR,PAYANN,GEO_TTL&for=state:*"
# Build query URL

query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

# This should get us all establishments of employment in each state for the 2015 year.
cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2015_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2015_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,98540,1634391,All establishments,67370353,2015
1,Alabama,01,48732,91287,Establishments with 1 to 4 employees,3784151,2015
2,Alabama,01,20941,138607,Establishments with 5 to 9 employees,4758260,2015
3,Alabama,01,13655,183994,Establishments with 10 to 19 employees,6561601,2015
4,Alabama,01,9670,292316,Establishments with 20 to 49 employees,10487731,2015

In [115]:
#Get Df for 2014
year = '2014'
query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2014_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2014_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,97714,1604016,All establishments,64291502,2014
1,Alabama,01,48319,92653,Establishments with 1 to 4 employees,3451814,2014
2,Alabama,01,20741,137019,Establishments with 5 to 9 employees,4496433,2014
3,Alabama,01,13759,185488,Establishments with 10 to 19 employees,6423509,2014
4,Alabama,01,9511,285878,Establishments with 20 to 49 employees,10117574,2014

In [116]:
#Get Df for 2013
year = '2013'
query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2013_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2013_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,97578,1603100,All establishments,62408287,2013
1,Alabama,01,48411,93476,Establishments with 1 to 4 employees,3419528,2013
2,Alabama,01,20811,137266,Establishments with 5 to 9 employees,4435722,2013
3,Alabama,01,13652,184017,Establishments with 10 to 19 employees,6186822,2013
4,Alabama,01,9383,280622,Establishments with 20 to 49 employees,9741273,2013

In [117]:
#Get Df for 2012
year = '2012'
query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2012_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2012_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,97938,1585761,All establishments,61284931,2012
1,Alabama,01,48789,94080,Establishments with 1 to 4 employees,3353527,2012
2,Alabama,01,20913,138248,Establishments with 5 to 9 employees,4386835,2012
3,Alabama,01,13783,186178,Establishments with 10 to 19 employees,6172321,2012
4,Alabama,01,9267,277532,Establishments with 20 to 49 employees,9454606,2012

In [118]:
#Get Df for 2011
year = '2011'
query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2011_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2011_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,97743,1573138,All establishments,59241365,2011
1,Alabama,01,49042,93632,Establishments with 1 to 4 employees,3243664,2011
2,Alabama,01,20633,136248,Establishments with 5 to 9 employees,4233100,2011
3,Alabama,01,13792,185939,Establishments with 10 to 19 employees,6005020,2011
4,Alabama,01,9097,272048,Establishments with 20 to 49 employees,9039895,2011

In [119]:
#Get Df for 2010
year = '2010'
query_url = url + year + "/cbp?get=" + query + "&key=" + api_key 

cbp_response = req.get(query_url)
cbp_json = cbp_response.json()   
cbp_df = pd.DataFrame(cbp_json, columns =['EMP','EMPSZES','EMPSZES_TTL','ESTAB','YEAR','PAYANN','GEO_TTL','State'])
clean_cbp = cbp_df.drop([0]).reset_index()
cbp_2010_df = pd.DataFrame(clean_cbp, columns=['GEO_TTL','State','ESTAB','EMP','EMPSZES_TTL','PAYANN','YEAR'])
cbp_2010_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,99251,1568111,All establishments,57448016,2010
1,Alabama,01,50113,96042,Establishments with 1 to 4 employees,3262347,2010
2,Alabama,01,20953,138569,Establishments with 5 to 9 employees,4197349,2010
3,Alabama,01,14005,188244,Establishments with 10 to 19 employees,5912838,2010
4,Alabama,01,9021,270606,Establishments with 20 to 49 employees,8808648,2010

In [134]:
#Combine using append (since all columns are the same) Dataframes to create one super dataframe!!!

total_df_15_14 = cbp_2015_df.append(cbp_2014_df, ignore_index=True)
total_df_15_13 = total_df_15_14.append(cbp_2013_df, ignore_index=True)
total_df_15_12 = total_df_15_13.append(cbp_2012_df, ignore_index=True)
total_df_15_11 = total_df_15_12.append(cbp_2011_df, ignore_index=True)
total_cbp_df = total_df_15_11.append(cbp_2010_df, ignore_index=True)
total_cbp_df.head()

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
0,Alabama,01,98540,1634391,All establishments,67370353,2015
1,Alabama,01,48732,91287,Establishments with 1 to 4 employees,3784151,2015
2,Alabama,01,20941,138607,Establishments with 5 to 9 employees,4758260,2015
3,Alabama,01,13655,183994,Establishments with 10 to 19 employees,6561601,2015
4,Alabama,01,9670,292316,Establishments with 20 to 49 employees,10487731,2015

In [133]:
#Let's look at just DC for the past 5 years
DC_cbp_df = total_cbp_df.loc[total_cbp_df["GEO_TTL"] == "District of Columbia",:]
DC_cbp_df

,GEO_TTL,State,ESTAB,EMP,EMPSZES_TTL,PAYANN,YEAR
80,District of Columbia,11,22553,513002,All establishments,38445917,2015
81,District of Columbia,11,11203,19639,Establishments with 1 to 4 employees,1766767,2015
82,District of Columbia,11,4077,27176,Establishments with 5 to 9 employees,1915331,2015
83,District of Columbia,11,3069,41833,Establishments with 10 to 19 employees,3019355,2015
84,District of Columbia,11,2367,72323,Establishments with 20 to 49 employees,4945404,2015
85,District of Columbia,11,965,66031,Establishments with 50 to 99 employees,4756409,2015
86,District of Columbia,11,594,89700,Establishments with 100 to 249 employees,6757473,2015
87,District of Columbia,11,182,62790,Establishments with 250 to 499 employees,5082807,2015
88,District of Columbia,11,65,43132,Establishments with 500 to 999 employees,4065601,2015
89,District of Columbia,11,31,90378,"Establishments with 1,000 employees or more",6136770,2015
640,District of Columbia,11,22210,495453,All establishments,36953396,2014
641,District of Columbia,11,10942,19864,Establishments with 1 to 4 employees,1713126,2014
642,District of Columbia,11,4068,27036,Establishments with 5 to 9 employees,1885104,2014
643,District of Columbia,11,3047,41308,Establishments with 10 to 19 employees,2860822,2014
644,District of Columbia,11,2385,72701,Establishments with 20 to 49 employees,4953911,2014
645,District of Columbia,11,924,63709,Establishments with 50 to 99 employees,4456019,2014
646,District of Columbia,11,576,88078,Establishments with 100 to 249 employees,6605262,2014
647,District of Columbia,11,181,62357,Establishments with 250 to 499 employees,4941524,2014
648,District of Columbia,11,57,37188,Establishments with 500 to 999 employees,3030430,2014
649,District of Columbia,11,30,83212,"Establishments with 1,000 employees or more",6507198,2014
1200,District of Columbia,11,21919,491130,All establishments,35131275,2013
1201,District of Columbia,11,10812,19825,Establishments with 1 to 4 employees,1643695,2013
1202,District of Columbia,11,4050,26982,Establishments with 5 to 9 employees,1825319,2013
1203,District of Columbia,11,3009,40854,Establishments with 10 to 19 employees,2829657,2013
1204,District of Columbia,11,2339,72041,Establishments with 20 to 49 employees,4710562,2013
1205,District of Columbia,11,869,60281,Establishments with 50 to 99 employees,4021650,2013
1206,District of Columbia,11,591,91001,Establishments with 100 to 249 employees,6737739,2013
1207,District of Columbia,11,169,58806,Establishments with 250 to 499 employees,4408956,2013
1208,District of Columbia,11,51,34548,Establishments with 500 to 999 employees,3223253,2013
1209,District of Columbia,11,29,86792,"Establishments with 1,000 employees or more",5730444,2013
1760,District of Columbia,11,21592,482838,All establishments,33863527,2012
1761,District of Columbia,11,10626,19777,Establishments with 1 to 4 employees,1682127,2012
1762,District of Columbia,11,3979,26507,Establishments with 5 to 9 employees,1763877,2012
1763,District of Columbia,11,2998,40475,Establishments with 10 to 19 employees,2680367,2012
1764,District of Columbia,11,2311,70713,Establishments with 20 to 49 employees,4593921,2012
1765,District of Columbia,11,856,59335,Establishments with 50 to 99 employees,3938406,2012
1766,District of Columbia,11,563,85774,Establishments with 100 to 249 employees,6499676,2012
1767,District of Columbia,11,175,58885,Establishments with 250 to 499 employees,4191853,2012
1768,District of Columbia,11,55,35956,Establishments with 500 to 999 employees,3285245,2012
1769,District of Columbia,11,29,85416,"Establishments with 1,000 employees or more",5228055,2012
2320,District of Columbia,11,21545,477623,All establishments,32872009,2011
2321,District of Columbia,11,10703,19705,Establishments with 1 to 4 employees,1674116,2011
2322,District of Columbia,11,3961,26354,Establishments with 5 to 9 employees,1740807,2011
2323,District of Columbia,11,3011,40795,Establishments with 10 to 19 employees,2607596,2011
2324,District of Columbia,11,2204,67621,Establishments with 20 to 49 employees,4281381,2011
2325,District of Columbia,11,849,58685,Establishments with 50 to 99 employees,3704484,2011
2326,District of Columbia,11,571,87261,Establishments with 100 to 249 employees,6147617,2011
2327,District of Columbia,11,160,53993,Establishments with 250 to 499 employees,4072954,2011
2328,District of Columbia,11,56,37303,Establishments with 500 to 999 employees,3366699,2011
2329,District of Columbia,11,30,85906,"Establishments with 1,000 employees or more",5276355,2011
2880,District of Columbia,11,21502,463076,All establishments,30987176,2010
2881,District of Columbia,11,10756,19722,Establishments with 1 to 4 employees,1613293,2010
2882,District of Columbia,11,3992,26450,Establishments with 5 to 9 employees,1727571,2010
2883,District of Columbia,11,2935,39495,Establishments with 10 to 19 employees,2447540,2010
2884,District of Columbia,11,2206,67217,Establishments with 20 to 49 employees,4163103,2010
2885,District of Columbia,11,832,57150,Establishments with 50 to 99 employees,3578294,2010
2886,District of Columbia,11,538,81006,Establishments with 100 to 249 employees,5901545,2010
2887,District of Columbia,11,161,54188,Establishments with 250 to 499 employees,3955738,2010
2888,District of Columbia,11,56,39063,Establishments with 500 to 999 employees,2966014,2010
2889,District of Columbia,11,26,78785,"Establishments with 1,000 employees or more",4634078,2010